main {
  background: url(../assets/homescreenbg.jpg);
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-size: 100%;
  margin: 0px;
  filter: brightness(0);
  transition: filter 500ms ease-in-out;
  min-width: 1368px;
}

footer {
  display: grid;
  grid-template-columns: 48px 344px 2.7fr 312px 5px;
  background: rgb(138 138 138 / 24%);
  position: absolute;
  bottom: 0px;
  height: 45px;
  width: 100vw;
  overflow: hidden;
  backdrop-filter: blur(7px);
}

img.windowsicon {
  width: 22px;
}

.windowsicondiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchinput {
  background: #383838;
  font-family: "Segoe UI Light";
  border-radius: 0px;
  font-weight: 200;
  font-size: 15.5px;
  padding-left: 39px;
  color: white;
  border: solid 0.5px rgb(102, 102, 102);
  /* border-bottom: 0; */
}

.searchinput:focus {
  outline: none;
}

.searchinput::placeholder {
  color: white;
}

.searchinput:hover {
  box-shadow: inset 0px 0px 0px 2px rgb(107 107 107);
  background: #4b4b4b;
}

.taskbaricon {
  width: 17px;
}
.taskbaricon2 {
  width: 17px;
}

.cortana {
  filter: blur(0.3px);
}

.appsicon {
  display: flex;
  align-items: center;
}

.icon {
  height: 44px;
  width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.windowsicondiv:hover {
  background: #323232b0;
}

img.search {
  width: 18px;
  position: absolute;
  left: 61px;
  transform: rotate(90deg);
  top: 15px;
}

.utilityicon {
  justify-content: center;
  height: 45px;
  display: flex;
  width: 15px;
  align-items: center;
  padding: 0px 10px;
  gap: 3px;
  margin-left: 3px;
}

.mini-date {
  margin: 0px;
  color: white;
  font-family: "Segoe Ui Light";
  font-weight: 100;
  font-size: 11.6px;
  line-height: 18px;
  margin-bottom: -1.5px;
  padding: 0px 2px;
}

.removeall {
  border-left: 1px solid gray;
}

/* ------ */
.homescreenicon {
  width: 71px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  touch-action: none;
  user-select: none;
  flex-direction: column;
  margin: 10px;
  cursor: pointer !important;
}

.homescreenicon:hover {
  background-color: rgb(59 58 110 / 77%);
  box-shadow: inset 0px 0px 1px rgb(58, 58, 255);
}

.homescreenicon img {
  width: 55px;
}

.homescreenicon h5 {
  font-family: "Segoe Ui Light";
  font-weight: 100;
  text-align: center;
  margin-top: 1px;
  font-size: 12px;
  margin-bottom: 2px;
  text-shadow: 0px 0px 2px black;
}

.removeall:hover {
  background-color: rgb(128 128 128 / 20%);
}

.upicondiv {
  height: 93px;
  background: #44414196;
  padding: 10px 3px;
  border: solid 0.5px #000000;
  position: absolute;
  bottom: -45px;
  display: none;
  box-sizing: border-box;
  right: 201px;
  width: 117px;
  justify-content: flex-start;
  align-items: flex-start;
  -moz-column-gap: 10px;
  column-gap: 10px;
}

.upicondiv img {
  width: 24px;
}

.batteryicon2 {
  width: 20px !important;
}

.upiconposition {
  display: flex;
  bottom: 45px;
}
